# Configuration du Serveur SMTP (Envoi)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Configuration du Serveur IMAP (Réception/Suivi)
IMAP_HOST=imap.gmail.com
IMAP_PORT=993

# Configuration du Serveur Web (Dashboard)
PORT=17890

# Identifiants de Connexion (Gmail nécessite un mot de passe d'application)
SMTP_EMAIL=votre.email@gmail.com
SMTP_PASSWORD=votre_mot_de_passe_d_application

# Configuration de l'Expéditeur et de l'E-mail
SENDER_NAME=Mon Outil Mailsender
EMAIL_SUBJECT=Votre mise à jour hebdomadaire !

# Chemins des Fichiers
CSV_PATH=recipients.csv
# Délai entre chaque envoi (en millisecondes) pour éviter le spam / blocage de Gmail
SEND_DELAY_MS=1500
